# build --repo_env=CC=clang
# build --repo_env=CXX=clang++

# Use tags=["requires-network"] to opt-out of the enforcement.
build --sandbox_default_allow_network=false
build --incompatible_strict_action_env
build --noexperimental_check_output_files

test --build_tests_only
test --test_output=all

build --conlyopt='-std=c11'
build --cxxopt='-std=c++17'

build --copt='-Wall'
build --copt='-Werror'
build --copt='-Wextra'
build --copt='-Wpedantic'
build --copt='-Wshadow'
build --copt='-Wsign-compare'
build --copt='-Wunreachable-code'
build --copt='-iquotesrc/'

# Required for erenon_bazel_clang_tidy to operate as expected
build:clang-tidy --aspects //bazel/clang_tidy:clang_tidy.bzl%clang_tidy_aspect
build:clang-tidy --output_groups=report
# Optionally override the .clang-tidy config file target
# build:clang-tidy --@erenon_bazel_clang_tidy//:clang_tidy_config=//:clang_tidy_config
